@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Configurações gerais */
* {
  margin: 0;
  padding: 0;
  font-family: var(--montserrat-fonte);
  scroll-behavior: smooth;
}

:root {
  --montserrat-fonte: "Montserrat", sans-serif;
}

::selection {
  background-color: #224f61;
  color: #f2f2f2;
}

section {
  height: 100vh;
  margin-left: 3.7vw;
}

.ativo {
  background-color: rgb(120, 192, 194);
  border-radius: 10px 0 0 10px;
}

img,
h1,
h2,
h3,
h4 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #538392 #f3fffc5e;
}

/* Chrome, Edge, e Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f3fffc5e;
}

*::-webkit-scrollbar-thumb {
  background-color: #538392;
  border: 3px solid #f3fffc5e;
}

/* Navbar */
.menu-lateral {
  width: 60px;
  height: 100vh;
  background: rgb(75, 114, 153);
  background: linear-gradient(
    180deg,
    rgba(75, 114, 153, 1) 9%,
    rgba(46, 72, 100, 1) 37%,
    rgba(28, 47, 68, 1) 63%,
    rgba(21, 36, 54, 1) 79%
  );
  box-shadow: 3px 0 0 rgba(120, 192, 194, 0.377);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.2s;
  z-index: 1;
}

.expandir {
  width: 270px;
}

.btn-expandir {
  padding-top: 40px;
}

nav img {
  height: 25px;
  cursor: pointer;
  padding: 0 0 0 16.5px;
}

nav ul {
  list-style: none;
}

nav li {
  transition: 1s;
}

nav li:hover {
  background-color: rgba(120, 192, 194, 0.377);
  border-radius: 10px 0 0 10px;
}

.item-menu {
  padding: 20px 0;
}

.item-menu a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
}

/* Fundo de bolhas */
#apresentacao-section {
  background: rgb(61, 82, 105);
  background: linear-gradient(
    180deg,
    rgba(28, 47, 68, 1) 11%,
    rgb(10, 22, 37) 40%,
    #08050e 79%
  );
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #4fc3dc;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #42daac;
  box-shadow: 0 0 0 10px #42daac67, 0 0 50px #42daac, 0 0 100px #42daac;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(0vh) scale(1);
  }
}

/* Sections */
.conteudo-container {
  padding: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.section-conteudo {
  display: flex;
  justify-content: center;
}

.absolute {
  position: absolute;
  top: 0;
}

#apresentacao-section .conteudo-container-absolute {
  height: 80%;
  display: flex;
  align-items: end;
  margin-left: 9vw;
}

#apresentacao-section .conteudo-container div div {
  height: 17vh;
  display: flex;
  align-items: end;
}

#apresentacao-section .conteudo-container-absolute div div img {
  cursor: pointer;
  margin-top: 30px;
}

h1 {
  color: #f2f2f2;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4.5vw;
}

.conteudo-container-absolute strong {
  font-weight: 400;
  font-size: 50px;
  opacity: 0.6;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3vh;
  font-size: 36px;
  font-weight: 500;
}

h3 {
  color: #f2f2f2;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 1.5vw;
}

h4 {
  font-size: 12px;
  font-weight: 300;
  padding: 10px 0;
}

#problema-section {
  background-color: #08050e;
  background-image: url(media/fundo-do-oceano.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#problema-section h2,
p {
  color: #f2f2f2;
}

.conteudo-problema {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.conteudo-problema p {
  width: 40vw;
  padding: 3px;
  line-height: 25px;
  height: fit-content;
  text-align: justify;
}

.img-peixe-lineart img {
  width: 350px;
}

#solucao-section {
  background-color: #224f61;
  color: #f2f2f2;
}

.fixa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #538392;
  height: fit-content;
  padding: 40px;
  border-radius: 0 10px 10px 10px;
  gap: 8vw;
  box-shadow: 6px 7px 8px -3px rgba(36, 36, 36, 0.75);
  -webkit-box-shadow: 6px 7px 8px -3px rgba(36, 36, 36, 0.75);
  -moz-box-shadow: 6px 7px 8px -3px rgba(36, 36, 36, 0.75);
}
.fixa p {
  width: 40vw;
  text-align: justify;
}

#grupo-btn-solucao {
  display: flex;
  gap: 5px;
  margin-top: 30px;
}

.btn-solucao {
  background-color: #538392;
  height: fit-content;
  width: fit-content;
  padding: 7px 20px;
  border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}

.selecionado {
  background-color: #11343f;
  color: #d5f2ff;
  box-shadow: 6px -9px 8px -3px rgba(36, 36, 36, 0.75) inset;
  -webkit-box-shadow: 6px -9px 8px -3px rgba(36, 36, 36, 0.75) inset;
  -moz-box-shadow: 6px -9px 8px -3px rgba(36, 36, 36, 0.75) inset;
}

.lixeira-height {
  height: 40vh;
}

.drone-height {
  height: 20vh;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-container p {
  margin-top: 10px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h6 {
  margin-top: 20px;
  font-weight: 400;
  text-decoration: underline;
  color: #074558;
  cursor: pointer;
  font-size: 13px;
}

#objetivos-section{
  background-image: url(media/superficie-do-oceano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#objetivos-section h2{
  color: #f2f2f2;
}

#objetivos-section p{
  width: 50vw;
  text-align: justify;
}

#breaker{
  margin: 20px 10px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: rgba(21, 36, 54, 1);
  color: #f2f2f2;
}

/* Responsividade mobile */
@media (max-width: 560px) {
  h1 {
    font-size: 7vw;
  }

  .conteudo-container {
    padding: 0 20px;
    margin-left: 13%;
  }

  .conteudo-container-absolute .titulo {
    margin-left: 13%;
  }

  .conteudo-container-absolute strong {
    font-size: 5vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 3vw;
  }

  h4 {
    font-size: 8px;
  }

  h5 {
    font-size: 15px;
  }

  .bubbles span {
    width: 20px;
    height: 8px;
  }

  .img-peixe-lineart img {
    filter: drop-shadow(#1b1b1b);
    width: 70vw;
  }

  .btn-solucao,
  h6 {
    font-size: 10px;
  }

  #objetivos-section p{
    width: fit-content;
    text-align: justify;
  }
}

@media (max-width: 800px) {
  .conteudo-container p{
    font-size: 13px;
    width: fit-content;
  }

  .fixa {
    padding: 20px;
  }
}

@media (max-width: 890px) {
  .lixeira-height {
    height: 28vh;
  }

  .drone-height {
    height: 10vh;
  }
}
